<!DOCTYPE html>
<html>
<head>
    <title>BUYSELL</title>
</head>
<body>
<h1>Tweater</h1>
<hr>
<h2>Введите логин и пароль</h2>
<form method="post" action="/login">
    <input type="text" name="username" placeholder="login"/><br>
    <input type="password" name="password" placeholder="password"/><br>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <input type="submit" value="login"/>
</form>
<a th:href="@{/registration}">Зарегистрироваться</a>
</body>
</html>