<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BUYSELL</title>
</head>

<body>

<h1> Announcements </h1>
<div th:if="${user.isAdmin() == true}">
    <a th:href="@{/avito/admin/}">to admin panel</a>
</div>
<div th:if="${user.getUsername() != null}">
    <a th:href="@{/avito/users/my}">to my page</a>
</div>
<div th:if="${user.getUsername() != null}">
    <h4> Name of User -  <i th:text="${user.getNameSurname()}"></i> </h4>
    <form method="post" action="/logout">
        <input type="submit" value="Выйти"/>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    </form>
</div>

<div th:if="${user.getUsername() == null}">
    <form method="post" action="/login">
        <input type="submit" value="Войти"/>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    </form>
</div>
<hr>
<form method="get" action="">
Сортировка по городу: <select name="cities" id="city-select">
    <option value="">Не выбрано</option>
    <option value="Kemerovo">Kemerovo</option>
    <option value="Moscow">Moscow</option>
    <option value="Saint-Petersburg">Saint-Petersburg</option>
    <div th:if="${cities != null && !cities.isEmpty() && !cities.isBlank()}">
        <p th:text="${cities}">
    </div>
</select>
<br>
Сортировка по названию
    <div th:if="${tag != null && !tag.isEmpty() && !tag.isBlank()}">
        <input type="text" name="tag"  th:text="${tag}"/>
    </div>
    <div th:if="${tag == null || tag.isBlank() || tag.isEmpty()}">
        <input type="text" name="tag"/>
    </div>
    <input type="submit" value="Sort"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</form>
<h4>Announcements from all Russia:</h4>
<form th:each="message: ${messages}">
    <table>
        <td th:text="${message.getTag()}"></td>
        <td th:text="${message.getCity()}"></td>
        <td th:text="${message.getCreationDate()}"></td>
        <td>
            <a th:href="@{/avito/main/message/{messageId}(messageId=${message.getId()})}"> details </a>
        </td>
    </table>
    <br>
</form>
<hr>

</body>

</html>